<h1>Edit Proveedor</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.proveedor_path(@conn, :update, @proveedor)) %>

<span><%= link "Back", to: Routes.proveedor_path(@conn, :index) %></span>
